<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcard App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body class="bg-white p-4 flex flex-col items-center justify-center min-h-screen">
    <div id="flashcard-container" class="bg-white p-8 rounded-lg shadow-lg">
        <div class="w-full max-w-2xl">
            <div class="flex justify-between items-center w-full">
                <h1 class="text-3xl font-bold">Svenska Flashcard</h1>
                <div id="languages" class="relative inline-block text-right">
                    <select id="language-dropdown" name="language-dropdown"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded px-4 py-2 pr-8">
                        <option value="Swedish" selected>Swedish</option>
                        <option value="English">English</option>
                    </select>
                </div>
                <hr>
                <div class="relative inline-block text-left" id="dropdown-box">
                    <label for="topic" class="mr-2">Topic:</label>
                    <select id="topic"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded px-4 py-2 pr-8">
                        <option value="plural">Plural</option>
                        <option value="preteritum">Preteritum</option>
                        <option value="verbs">Verbs</option>
                        <option value="adjectives">Adjectives</option>
                        <option value="vocabulary" selected>Vocabulary</option>
                    </select>
                </div>
                <div id="click-config" class="relative inline-block">
                    <label for="get-next-card" class="mr-2">Auto Next Card:</label>
                    <label class="switch">
                        <input type="checkbox" id="get-next-card">
                        <span class="slider round"></span>
                    </label>
                    <button class="text-black px-4 py-2 rounded" id="mute-sound">
                        <i id="muteIcon" class="fas fa-volume-up"></i>
                    </button>
                </div>
                <hr>
            </div>
            <div class="flex justify-between items-center mb-6">
                <div class="mt-6 text-right">
                    <p class="text-lg font-bold" id="progress">Progress: 0/ correct</p>
                </div>
                <div id="flashcard">
                    <div id="flashcard-inner">
                        <div id="flashcard-front">
                        </div>
                        <div id="flashcard-back">
                        </div>
                    </div>
                </div>
                <div id="flashcard-buttons" class="mt-4">
                    <button id="next-button" class="bg-green-500 text-white px-4 py-2 rounded mr-2">Next
                        Card</button>
                    <button id="correct-button" class="bg-green-500 text-white px-4 py-2 rounded mr-2" disabled>Correct
                        Guess</button>
                    <button id="pronounce-button" class="bg-blue-500 text-white px-4 py-2 rounded">
                        <i class="fas fa-volume-up"></i> Pronounce
                    </button>

                   
                </div>

            </div>
        </div>
    </div>

    <script>
        const flashcards = JSON.parse('{{ flashcards | tojson | safe }}');
        const language = "Swedish"
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>